@media all and (min-width: 500px) and (max-width: 2000px) {
  .container {
    height: 100%;
    max-width: 30vw;
    margin-right: 10px;
    border-radius: 1rem;
    display: inline-block;
    flex-direction: column;
  }
}

.container {
  height: 100%;
  max-width: 60vw;
  margin-right: 10px;
  border-radius: 1rem;
  display: inline-block;
  flex-direction: column;
}

.container:hover {
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}
.test {
  overflow: hidden;
  border-radius: 0.5rem;
}

.image {
  max-width: 100%;
  transition: all 0.5s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.description {
  padding: 5%;
}

.title {
  font-size: x-large;
  color: var(--black);
  text-align: start;
}

.info {
  margin-top: 10px;
  font-size: medium;
  width: 100%;
  text-align: start;
  color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
