.container {
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: calc(100% - 50px);
    z-index: 15;
    background-color: var(--white);
}

.mapContainer {
    width: 100%;
    height: 300px;
    background-color: blue;
}

.inputsContainer {
    width: 100%;
}

.input {
    left: 5%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 90%;
}

.buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    align-content: center;
}

.fileInput {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map {
    height: 100% !important;
}