.container {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}

.imageContainer {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: rgb(211, 88, 255);
    z-index: -1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
}